.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #logo {
    position:relative;
    left: 560px;
    width: 250px;
    height: 100px;
  
  }
  
  .header {
  padding-top: 125px;
  text-align: center;
  }
  
  .header2{
  text-align: right;
  font-size: x-small;
  }
  
  .col-4 img {
  width: 80%;
  }
  
  .col-4{
  border: 1px;
  border-width: 1px;
  margin: 1px;
  flex-basis: 33%;
  padding: 20px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  }
  
  .btn{
  background-color: darkred;
  color: white;
  }
  
.two-col {
    overflow: hidden;
}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}