.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#logo{
    position:relative;
    left: 560px;
    width: 250px;
    height: 100px;
}

.header{
  padding-top: 125px;
  text-align: center;
  padding-bottom: 50px;
}

.header h1{
    font-size: 50px;
    color: #B22222;
    font-variant: small-caps;
    text-align: center;
}

.btn{
    background-color: rgb(83, 75, 75);
    color: white;
}

.row h1{
    font-size: 50px;
    color: #B22222;
    font-variant: small-caps;
    text-align: center;
}

.container{
    padding-bottom: 50px;
}

.btn1{
    margin-right: .5%;
}

.col-3{
    padding-top: 50px;
}
